<h2>Registered Users</h2>
<!-- <a class="btn btn-primary mb-3" (click)="addUser()">Create User</a> -->
<!-- [formGroup]="form" #searchInfo (ngSubmit)="searchForm(searchInfo)" -->
<div class=" row">

    <div   class=" col-md-8">

      <div  >
        <input type="text" class="form-control" placeholder="Search Users Here" [(ngModel)]="term">
    </div>
 
    <table class="table" >
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Telephone</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users | filter:term" >
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.telephone}}</td>
        <td><button type="button" class="btn btn-primary" (click)="viewUser(user.id)">Show Details</button></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div   class="col-md-4">

    <app-adduser *ngIf="action === 'add'" [user]="selectedUser" (userAddedEvent)="refreshData()"></app-adduser>
    <app-viewuser *ngIf="action === 'view'" [user]="selectedUser" (userDeletedEvent)="refreshData()"></app-viewuser>
   
  </div>
</div>