

.head{
    color: rgb(172, 209, 38);
    text-align: center;
    text-shadow: rgba(115, 224, 13, 0.87);
    font-family: inherit;
    text-overflow: ellipsis;
    text-justify: distribute-all-lines;
    text-rendering: geometricPrecision;
    height: 1000px;
    text-decoration-style: solid;
    background-image: url(src/assets/img/aaaa.jpg);
   
}