<header>
    <nav class="navbar navbar-expand-md navbar-primary bg-danger">
        <div><a  class="navbar-brand">BellaCakes</a></div>
        <ul class="navbar-nav">
            <li *ngIf="loginService.isUserLoggedIn()" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a *ngIf="loginService.isUserLoggedIn()" routerLink="/admin/users" class ="dropdown-item">Users</a>
                    <a *ngIf="loginService.isUserLoggedIn()" routerLink="/admin/products" class="dropdown-item">Products</a>
                </div>
            </li>
            <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
            <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a></li>
        </ul>
    </nav>
</header>
