<div class="container ">
  <br>
  <div class="form-group has-search">
    <span class="fa fa-search form-control-feedback"></span>
    <input type="text" class="form-control"  placeholder="Search Your Cake Here" [(ngModel)]="term" aria-label="Search">
</div>
  <br>
    <div id="some-list" class="row">
        <div class="col-sm-3" *ngFor="let product of products |filter:term">
          <div id="itemDetails"></div>
          <div class="card" style="width: 18rem; padding: 10px;">
            <img src="{{product.retrievedImage}}" class="card-img-top" src="..." alt="Card image cap" height="200" width="100">
            <div class="card-body">
              
              <h5 class="card-title">{{product.productName}}</h5>
              <p>{{product.price | currency:'LKR'}}</p>
              <p class="card-text">{{product.details}}</p>

              
              <div  *ngIf="!isLoggedIn"   >
                <button type="button" class="btn btn-primary" (click) ="Link()" >Login to Reserve</button>
              </div>
              <div *ngIf="showAdminBoard || showUserBoard" >
                <button type="button" class="btn btn-primary" (click)="viewProduct(product.id)">Reserve Cake</button>
              <!-- <a href="/makeorder"  class="btn btn-primary" (click)="editProduct(product.id)" [product]="selectedProduct" (productViewEvent)="refreshData()">Reserve Product</a> -->
              
            </div>
            <app-makeorder  *ngIf="action === 'view'" [product]="selectedProduct" (productviewEvent)="refreshData()"></app-makeorder>
            </div>
          </div>
        </div>
      </div>
    <!-- <h2>Cakes</h2>

        <table class="table" *ngFor="let product of products">
            <tr>
                <td>{{product.productName}}</td>
            </tr>
            <tr>
                <td>{{product.price}}</td>
            </tr>
            <tr>
                <td>{{product.details}}</td>
            </tr>
            <tr>
            <td><img src="{{product.retrievedImage}}" target="_blank" height="200" width="200"></td>
            </tr>
        </table> -->
        <!-- <br>
        <img src="{{product.retrievedImage}}" target="_blank" height="200" width="200">
        <br><br> -->
    
         <!-- <a class="btn btn-primary" (click)="orderProduct()">edit</a>  -->
    </div>