
  <h1>{{product.id == null ? 'Add' : 'Edit'}} Product - {{product.id}}</h1>

<form>
  <label for="name">Product Name</label>
  <input type="text" class="form-control" id="name" placeholder="Product name" [(ngModel)]="product.productName" name="name">

  <label for="price">Price</label>
  <input type="text" class="form-control" id="price" placeholder="price" name="price" [(ngModel)]="product.price">

  <label for="Details">Details</label>
  <input type="text" class="form-control" id="details" placeholder="details" name="details" [(ngModel)]="product.details">

  <div class="form-group" *ngIf="product.id == null">
    <br>
    <input type="file" (change)="onFileChanged($event)">
    <img [src]="imgURL" height="200" width="200" *ngIf="imgURL">

  <br>
  </div>
  <button type="button" class="btn btn-success" (click)="saveProduct()">Save Product</button>
</form>