<form>
    <!-- <fieldset disabled ="disabled" > -->
    <!-- <label for="orderStatus">Order Status</label>
    <select class="form-control">
        <option id="orders" [(ngModel)]="order.orderStatus" name="name">Ready</option>
        <option id="orders" [(ngModel)]="order.orderStatus" name="name">Not Ready</option>
    </select> -->
    <input type="text" class="form-control" id="orders" placeholder="Order Status" [(ngModel)]="order.orderStatus" name="orderStatus">
  
 
    <button type="button" class="btn btn-success" (click)="update()">Update Status</button>
  </form>