<div class="productDetails">
<h2>Product Details</h2>

    <table>
        <tr>
            <td>Product ID</td>
            <td>{{product.id}}</td>
        </tr>
        <tr>
            <td>Product Name</td>
            <td>{{product.productName}}</td>
        </tr>
        <tr>
            <td>Product Price</td>
            <td>{{product.price}}</td>
        </tr>
        <tr>
            <td>Product Details</td>
            <td>{{product.details}}</td>
        </tr>
    </table>
    <br>
    <img src="{{product.retrievedImage}}" target="_blank" height="200" width="200">
    <br><br>

    <a class="btn btn-small btn-danger" (click)="deleteProduct()">delete</a>
    
    <a class="btn btn-small btn-warning" (click)="editProduct()">edit</a> 
</div>